/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; /* Change background color as needed */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.connect-wallet-btn {
  text-align: center;
}

.connect-wallet-btn button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.connect-wallet-btn button:hover {
  background-color: #0056b3;
}
